model_config_list {
  config {
    name: "aki"
    base_path: "/models/aki/"
    model_platform: "tensorflow"
  }
  config {
    name: "sepsis"
    base_path: "/models/sepsis/"
    model_platform: "tensorflow"
  }
  config {
    name: "mi"
    base_path: "/models/mi/"
    model_platform: "tensorflow"
  }
  config {
    name: "vancomycin"
    base_path: "/models/vancomycin/"
    model_platform: "tensorflow"
  }
}